form.search {
  margin: auto;
  width: 70%;
  align-content: center;
}

.form-control {
  margin: 0px 0 10px 0;
}

#address {
  float: right;
  margin-top: 10px;
}

.addressheader {
  margin-top: 50px;
  margin-bottom: 40px;
}