.search {
  width: 80%;
  align-content: center;
  margin-left: 10%;
  float: left;
  padding-top: 30px;
  margin-bottom: 0;

}

#address {
  float: right;
}

.pollingimg {
  align-content: center;
  padding-top: 20%;
  margin: auto;
}

.pollupdate {
  margin: 0 5% 0 5px;
}

.searchbtn {
  float: left;
}