.search {
  margin: auto;
  width: 90%;
  align-content: center;
  margin-left: 5%;
  float: left;
}

.form-control {
  margin: 0px 0 10px 0;
}

#address {
  float: right;
  margin-top: 10px;
}

.addressheader {
  margin-top: 50px;
  margin-bottom: 40px;
}

.pollingimg {
  align-content: center;
  padding-top: 55%;
  margin:auto;
}