.voteSearch {
    background-color: white;
    padding: 25px 0 25px 0;
}

.voteCandidate {
    background-color: whitesmoke;
    padding: 25px 0 25px 0;
}

.votePodcast {
    background-color: white;
    padding: 25px 0 25px 0;
}

