.podcastBtnSave {
  margin: 0 0 0 5px;
}

.podcastDel {
  margin: 0 0 0 5px;
}

.podcastmap {
  align-content: center;
  margin-top: 10%;
  padding: 0 35px 0 35px;
}

.searchbtn {
  margin-bottom: 10%;
}


.scrollbar {
    float: left;
    height: 150px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
