.footer {
  padding: 50px 0 20px 0;
  background: #262626;
  margin-bottom: auto;
  color: white;
}

/* unvisited link */
.footer a:link {
  color: white;
}

/* visited link */
.footer a:visited {
  color: whitesmoke;
}

/* mouse over link */
.footer a:hover {
  color: #2d71b5;
}

/* selected link */
.footer a:active {
  color: whitesmoke;
}

